nav#navbar {
  position: fixed;
  left: 0;

}

body { 
   background-color: greenyellow;
}

main#main-doc {
  margin-left: 30%;
  background-color: green;
}

@media (max-width: 600px) {
  body {
    background-color: olive;
  }
}

navbar a {
  font-size: 30px;
}

section.main-section header {
  color: darkslategray;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}